@media(max-width: 992px) {
    html {
        font-size: calc(100vw / 992 * 10);
    }

    .container {
        margin: 0 6.5rem;
    }

    .header__container {
        margin: 0;
    }

    .description {
        text-align: center;
    }

    .header__burger {
        position: relative;
        display: block;
        z-index: 100;
    }

    .header__top {
        padding: 2rem 6.5rem;
    }

    .header__list {
        display: none;
    }

    .products__content, .popular__content {
        justify-content: space-between;
    }

    .products__card:hover {
        transform: none;
    }

    .benefits__content {
        flex-direction: column-reverse;
        align-items: center;
        gap: 4.5rem;
    }

    .benefits__intro {
        text-align: center;
    }

    .benefits__title {
        text-align: center;
    }

    .benefits__info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer__container {
        flex-direction: column;
    }
}

@media(max-width: 768px) {
    html {
        font-size: calc(100vw / 768 * 10);
    }

    .active {
        width: 80rem;
    }

    .product__row--1 {
        flex-direction: column;
        position: relative;
        padding-top: 12rem;
    }

    .product__title {
        width: 100%;
        position: absolute;
        font-size: 3.6rem;
        text-align-last: left;
        top: 0;
        left: 0;
    }

    .product__info {
        width: 70%;
        gap: 2rem;
        align-items: normal;
    }

    .product__buy {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .product__quantity {
        margin: 0;
    }

    .product__btn {
        justify-content: center;
        font-size: 2.5rem;
    }

    .product__row--2 {
        flex-direction: column;
    }

    .product__description {
        font-size: 2.1rem;
    }

    .product-description__new {
        display: block;
    }

    .product-shipping__description {
        font-size: 2.3rem;
    }

    .loader-container {
        width: 75%;
        height: 20%;
    }
}

@media(max-width: 576px) {
    html {
        font-size: calc(100vw / 576 * 10);
    }

    .active {
        width: 60rem;
    }

    .header__bottom {
        background-image: url(../images/header-bg-mobile.png);
    }

    .products__card {
        width: 100%;
    }

    .products__btn {
        width: 100%;
    }

    .header__card {
        max-width: 60%;
        padding: 4rem 2rem;
    }

    .testimonials__content {
        flex-direction: column;
    }

    .footer__description {
        width: 100%;
        font-size: 2.6rem;
    }

    .footer__content {
        flex-wrap: wrap;
    }

    .footer__row:first-child {
        order: 0;
    }

    .footer__row:nth-child(2) {
        order: 2;
    }

    .footer__row:last-child {
        order: 1
    }

    .footer__list {
        font-size: 2rem;
    }
}

@media(max-width: 480px) {
    html {
        font-size: calc(100vw / 480 * 10);
    }

    .container {
        margin: 0 1.5rem;
    }

    .header__container {
        margin: 0;
    }

    .header__top {
        padding: 2rem 3rem;
    }

    .active {
        width: 50rem;
    }

    .header__bottom {
        height: 100vh;
    }

    .header__card {
        justify-content: center;
        min-height: 50rem;
    }
}

@media(max-width: 360px) {
    .active {
        gap: 23rem;
        font-size: 4.5rem;
    }

    .header__bottom {
        padding: 29rem 0 21rem 0;
    }

    .header__card {
        max-width: 90%;
    }

    .title {
        font-size: 5rem;
        margin-bottom: 1.5rem;
    }

    .header__title {
        margin-bottom: 1rem;
    }

    .description, .header__description, .benefits__description {
        font-size: 2.4rem;
    }

    .btn {
        font-size: 2.5rem;
        padding: 1.8rem 4.4rem;
        width: 100%;
    }

    .products__name {
        font-size: 2.6rem;
    }

    .products__price {
        font-size: 3rem;
    }

    .benefits__list {
        font-size: 2.6rem;
    }

    .testimonials__comment {
        font-size: 3.2rem;
    }

    .testimonials__name {
        font-size: 2.5rem;
    }

    .product__title {
        font-size: 3.6rem;
        top: 2rem;
    }
}